body {
  height: 100%;
  padding-left: 0px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}
h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}
h2 {
  margin-top: 0px;
  margin-bottom: 7px;
  font-family:'PT Sans', sans-serif;
  color: white;
  font-size: 35px;
  line-height: 34px;
  font-weight: 700;
  text-transform: uppercase;
}
h3 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: Exo, sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}
h4 {
  margin-top: 3px;
  margin-bottom: 4px;
  font-family:'PT Sans', sans-serif;
  color: #d9d325;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}
h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Exo, sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
p {
  margin-bottom: 5px;
  font-family: Lato, sans-serif;
  color: white;
  font-size: 13px;
}
.button {
  position: relative;
  z-index: 2;
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px 8px;
  background-color: #3b3e47;
  font-family:'PT Sans', sans-serif;
  color: white;
  font-size: 13px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.button:hover {
  background-color: #5a5f6e;
}
.button.cta-button {
  margin-top: 6px;
  background-color: #3b3e47;
}
.button.cta-button:hover {
  background-color: black;
}
.button.green {
  background-color: #95d4f3;
}
.button.green:hover {
  background-color: #212c9b;
}
.button.slider-button {
  background-color: #25acd9;
}
.button.slider-button:hover {
  background-color: #464a57;
}
.navbar {
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 250px;
  background-color: white;
  background-image: url('../images/menu.png');
}
.logo-container {
  width: 250px;
  margin-bottom: 50px;
  padding-top: 40px;
  padding-right: 30px;
  padding-left: 30px;
  color: black;
  text-align: right;
  text-decoration: none;
}
.logo-container:hover {
  opacity: 0.7;
}
.logo-container.w--current {
  float: left;
}
.nav-link {
  display: block;
  width: 100%;
  padding-top: 10px;
  padding-right: 50px;
  padding-bottom: 10px;
  font-family:'PT Sans', sans-serif;
  font-size: 13px;
  text-align: right;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}
.nav-link:hover {
  background-color: #ededed;
  color: black;
}
.nav-link:active {
  background-color: #4ac2a4;
  color: white;
}
.nav-link.w--current {
  color: #1b5b96;
}
.nav-menu {
  width: 100%;
}
.slider {
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100%;
  background-color: black;
}
.slide {
  background-image: url('../images/ocean-life-050.jpg');
  background-position: 50% 50%;
  background-size: cover;
  text-align: center;
}
.slide._2 {
  background-image: url('../images/IMG_6169.JPG'), url('../images/bio.jpg');
  background-position: 0% 0%, 50% 50%;
}
.slide._3 {
  background-image: url('../images/be.jpg');
}
.slide-container {
  position: relative;
  left: 0px;
  top: 27%;
  right: 0px;
  padding-right: 330px;
  padding-left: 50px;
  text-align: left;
}
.slide-title {
  position: relative;
  z-index: 2;
  margin-bottom: 25px;
  font-family:'PT Sans', sans-serif;
  color: white;
  font-size: 50px;
  line-height: 71px;
  text-shadow: rgba(0, 0, 0, 0.6) -1px 5px 3px;
}
.slide-title._2 {
  font-size: 23px;
  line-height: 31px;
  font-weight: 400;
}
.slide-title.top-title {
  display: inline-block;
  margin-top: -13px;
  margin-bottom: 31px;
  padding: 6px 20px 2px;
  border-radius: 2px;
  background-color: #25bbd9;
  font-family:'PT Sans', sans-serif;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: none;
}
.page-content {
  padding: 100px 35px;
  background-color: #ededed;
  text-align: center;
}
.container {
  text-align: left;
}
.portfolio-column {
  padding-right: 0px;
  padding-left: 0px;
}
.lightbox {
  position: relative;
  width: 100%;
}
.lightbox-thumb {
  width: 100%;
}
.image-section {
  padding: 100px 35px;
  background-image: linear-gradient(to right, #361a01, #593210 58%, transparent 97%), url('../images/terrarioabc.png');
  background-position: 0% 0%, 100% 100%;
  background-size: auto, cover;
  text-align: center;
}
.page-header {
  height: 400px;
  background-color: #575757;
  background-image: url('../images/91_big.jpg');
  background-position: 50% 50%;
  background-size: cover;
}
.page-header._404 {
  height: 100%;
  background-image: url('../images/fis-and-cat_5-jpg.jpg');
}
.page-header.about {
  background-image: url('../images/DSC04023-ban.jpg');
}
.page-header.portfolio {
  background-image: url('../images/Foto-3.jpg');
}
.page-header.convencional {
  background-image: url('../images/SANY3100-ban.jpg');
  background-attachment: fixed;
}
.page-header.intro-aquarios {
  background-image: url('../images/15052010198-ban-1.jpg');
}
.page-header.irregulares {
  background-image: url('../images/DSC03764-ban.jpg');
}
.page-header.hexagonais {
  background-image: url('../images/DSC04023-bann.jpg');
}
.page-header.beteiras {
  background-image: url('../images/DSC04267ban.jpg');
}
.page-header.globo {
  background-image: url('../images/SANY3229-1.jpg');
}
.page-header.encomenda {
  background-image: url('../images/SANY3286-1.jpg');
}
.page-header.moveis {
  background-image: url('../images/SANY0998.jpg');
}
.page-header.agua-doce {
  background-image: url('../images/14052010158-ban.jpg');
}
.page-header.plantados {
  background-image: url('../images/14052010160-ban.jpg');
}
.page-header.biotopo {
  background-image: url('../images/14052010097.jpg');
}
.page-header.comunitarios {
  background-image: url('../images/15052010202-ban.jpg');
}
.page-header.agua-salgada {
  background-image: url('../images/16052010323-ban.jpg');
}
.page-header.peixes-marinhos {
  background-image: url('../images/15052010221-bann.jpg');
}
.page-header.corais {
  background-image: url('../images/16052010334-ban.jpg');
}
.page-header.invertebrados {
  background-image: url('../images/15052010242-ban.jpg');
}
.page-header.nanos {
  background-image: url('../images/DSC06822.jpg');
}
.page-header.intro-lagos {
  background-image: url('../images/15052010229.jpg');
}
.page-header.lagos-classicos {
  background-image: url('../images/DSC04408-ban.jpg');
}
.page-header.lagos-orientais {
  background-image: url('../images/SANY2094.jpg');
}
.page-header.fontes-interiores {
  background-image: url('../images/DSC05655-ban.jpg');
}
.page-header.fontes-jardins {
  background-image: url('../images/DSC03124-ban.jpg');
}
.page-header.terrarios {
  background-image: url('../images/Digitalizar0005.jpg');
}
.page-header.aquaterrario {
  background-image: url('../images/SANY2929-ban.jpg');
}
.page-header.terrario-umido {
  background-image: url('../images/lagartixas.jpg');
}
.page-header.terrario-desertico {
  background-image: url('../images/Digitalizar0009-1.jpg');
}
.page-header.perguntas {
  background-image: url('../images/SANY3140-ban.jpg');
}
.page-header-overlay {
  width: 100%;
  height: 100%;
  padding-top: 155px;
  padding-right: 35px;
  padding-left: 35px;
  background-color: rgba(7, 37, 171, 0.49);
}
.page-header-overlay._404-page {
  padding-top: 268px;
}
.page-header-overlay.portfolio {
  text-align: center;
}
.page-header-title {
  margin-top: 0px;
  margin-bottom: 1px;
  color: white;
  font-size: 40px;
  line-height: 47px;
}
.page-header-title.description {
  font-size: 55px;
  font-weight: 400;
}
.logo {
  display: block;
  width: auto;
  height: 111px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-right: 0px;
  border-bottom-style: none;
  border-bottom-width: 2px;
  background-image: url('../images/local-aquario-itaquera.gif');
  background-position: 79% 50%;
  background-repeat: no-repeat;
  font-family: Impact, Haettenschweiler, 'Franklin Gothic Bold', Charcoal, sans-serif;
  font-size: 28px;
  text-transform: uppercase;
}
.navbar-some-wrapper {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 20px;
  display: block;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.some-block {
  width: 30px;
  height: 30px;
  margin-right: 3px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 8px;
  background-color: #4d535c;
  transition: background-color 500ms ease;
}
.some-block:hover {
  background-color: #4ac2a4;
}
.team-member-block {
  position: relative;
  margin-top: 0px;
  margin-bottom: 38px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  border-bottom: 0px none transparent;
}
.team-member-image {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 300px;
  margin-left: 55px;
  float: right;
}
.team-member-title {
  margin-bottom: 5px;
  font-family:'PT Sans', sans-serif;
  font-size: 27px;
  text-align: left;
  text-transform: uppercase;
}
.team-member-title._2 {
  margin-bottom: 15px;
  color: #25acd9;
  font-size: 21px;
  line-height: 24px;
  text-align: left;
}
.team-member-title.white {
  color: white;
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
}
.team-member-title.quote {
  color: #3b3e47;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
}
.team-member-title.wanted {
  display: inline-block;
  margin-bottom: 10px;
  padding: 7px 10px 3px;
  background-color: #3b3e47;
  color: white;
}
.team-member-text {
  display: block;
  margin-bottom: 32px;
  clear: none;
  color: #3b3e47;
  font-size: 16px;
  text-align: left;
}
.team-member-text.white {
  opacity: 0.7;
  color: white;
}
.percentage-bar {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
  height: 20px;
  margin-bottom: 8px;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.09);
}
.percentage-fill {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 55%;
  height: 20px;
  padding-left: 10px;
  background-color: #4ac2a4;
}
.percentage-fill._82 {
  width: 82%;
}
.percentage-fill._93 {
  width: 93%;
}
.percentage-fill._66 {
  width: 66%;
}
.percentage-title {
  display: inline-block;
  margin-top: 0px;
  font-family:'PT Sans', sans-serif;
  text-transform: uppercase;
}
.percentage-title.percentage {
  float: right;
  opacity: 0.5;
  font-family:'PT Sans', sans-serif;
  font-weight: 400;
}
.percentage-wrapper {
  margin-bottom: 5px;
}
.section-descripton {
  margin-bottom: 30px;
  font-family:'PT Sans', sans-serif;
  color: white;
  font-size: 36px;
}
.section-descripton.white {
  color: white;
  font-size: 16px;
  line-height: 20px;
}
.image-section-content-block {
  width: 600px;
}
.overall-list {
  margin-top: 50px;
}
.overall-list-item {
  padding-bottom: 25px;
}
.overall-list-item.last {
  padding-bottom: 0px;
}
.icon-wrapper {
  display: block;
  width: 70px;
  height: 70px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  float: none;
  border-radius: 2px;
  background-color: #95d4f3;
}
.icon-wrapper.list {
  margin-right: 20px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  float: left;
  background-color: #f2ff00;
}
.footer {
  padding: 52px 35px 0px;
  background-color: #3d4147;
}
.all-paragraphs-white {
  color: white;
  font-size: 11px;
  font-weight: 400;
}
.lightbox-overlay {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
  height: 100%;
  padding-top: 43%;
  padding-right: 20px;
  padding-left: 20px;
  background-color: rgba(119, 191, 224, 0.70);
  text-align: center;
}
.lightbox-title {
  margin-top: 0px;
  margin-bottom: 2px;
  font-family:'PT Sans', sans-serif;
  color: white;
  font-size: 25px;
  line-height: 24px;
  letter-spacing: 1px;
}
.intro-column {
  padding-right: 5px;
  padding-left: 5px;
  text-align: center;
}
.divider-line {
  width: 100%;
  height: 1px;
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: rgba(0, 0, 0, 0.2);
}
.divider-line.small-centered {
  display: block;
  width: 15%;
  margin: 15px auto;
}
.cta-section {
  padding-top: 35px;
  padding-bottom: 35px;
  background-color: #25bbd9;
  transition: background-color 500ms ease;
}
.cta-section:hover {
  background-color: #4ac2a4;
}
.nav-link-dropdown {
  display: block;
  width: 100%;
  font-family: Exo, sans-serif;
  font-size: 12px;
  text-align: right;
  text-transform: uppercase;
}
.nav-link-dropdown:hover {
  background-color: #ededed;
}
.dropdown-title {
  font-size: 13px;
  letter-spacing: 1px;
}
.dropdown-toggle {
  display: block;
  padding-top: 10px;
  padding-right: 50px;
  padding-bottom: 10px;
  font-family: Exo, sans-serif;
  text-align: right;
}
.dropdown-icon {
  margin-right: 20px;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  color: #bdbdbd;
}
.dropdown-list {
  height: auto;
}
.dropdown-list.w--open {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: black;
}
.dropdown-link {
  padding: 7px 80px 7px 0px;
  background-color: #76bbe8;
  font-family:'PT Sans', sans-serif;
  color: white;
  text-align: right;
  letter-spacing: 1px;
  text-decoration: none;
}
.dropdown-link:hover {
  background-color: #b0d7f5;
  color: #324042;
}
.dropdown-link:active {
  background-color: #4ac2a4;
}
.dropdown-link:focus {
  background-color: #b0d7f5;
  color: #0c6e82;
}
.dropdown-link.w--current {
  background-color: #333c91;
  color: #427eff;
}
.dropdown-link.w--current:active {
  background-color: #b0d7f5;
}
.cta-description {
  margin-top: 7px;
  font-family:'PT Sans', sans-serif;
  color: white;
  font-size: 20px;
}
.cta-col-left {
  padding-top: 10px;
}
.pricing-row {
  margin-bottom: 50px;
}
.pricing-block {
  background-color: #3b3e47;
  text-align: center;
}
.pricing-block.green {
  background-color: #4ac2a4;
}
.pricing-title {
  margin-bottom: 0px;
  padding-top: 40px;
  padding-bottom: 40px;
  color: white;
  font-size: 34px;
  text-transform: uppercase;
}
.pricing-title.plan-name {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.09);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
}
.pricing-block-list-item {
  padding: 20px;
  border-bottom: 1px solid #ededed;
  background-color: white;
}
.pricing-block-list-item:hover {
  background-color: whitesmoke;
}
.pricing-block-list-item.last {
  padding-bottom: 40px;
}
.pricing-text {
  font-family: Lato, sans-serif;
  font-size: 13px;
}
.slider-arrow {
  opacity: 0.4;
  transition: opacity 500ms ease, background-color 500ms ease;
  font-size: 22px;
}
.slider-arrow:hover {
  opacity: 1;
}
.slider-arrow:active {
  background-color: rgba(0, 0, 0, 0.2);
}
.slide-overlay {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(74, 122, 194, 0.88);
}
.lightbox-category {
  display: inline-block;
  margin-top: 14px;
  padding: 9px 7px 6px;
  border-radius: 2px;
  background-color: #25bbd9;
  font-family:'PT Sans', sans-serif;
  color: white;
  font-size: 13px;
  line-height: 13px;
  font-weight: 400;
  text-transform: uppercase;
}
.lightbox-category.red {
  background-color: #25bbd9;
}
.lightbox-category.blue {
  background-color: #25bbd9;
}
.header-image {
  position: absolute;
  top: -45px;
  right: -6px;
  bottom: 0px;
  z-index: 1;
  display: block;
  margin: 6px -32px 0px auto;
}
.header-image.team {
  right: -147px;
  margin-top: -58px;
  margin-right: 104px;
}
.column-left {
  padding-right: 40px;
}
.intro-link-block {
  width: 100%;
  padding: 20px 15px;
  border-radius: 2px;
  transition: border 500ms ease, background-color 1200ms ease;
  text-decoration: none;
}
.intro-link-block:hover {
  background-color: white;
}
.intro-link-block:active {
  background-color: white;
}
.team-member-intro {
  position: relative;
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #3b3e47;
  background-image: radial-gradient(circle at 1% 101%, #4ac2a4, #25bbd9 56%, #c8d121);
  background-position: 100% 50%;
  background-size: auto;
  background-repeat: no-repeat;
}
.more-work-section {
  display: block;
  padding-top: 80px;
  padding-bottom: 50px;
  background-color: #25bbd9;
  text-decoration: none;
}
.more-work-section:hover {
  background-color: #4ac2a4;
}
.section-title.white {
  color: white;
  font-size: 20px;
  line-height: 38px;
}
.more-work-button {
  display: inline-block;
  margin-top: 20px;
  padding: 14px 15px 12px;
  float: right;
  background-color: #3b3e47;
  font-family:'PT Sans', sans-serif;
  color: white;
  line-height: 15px;
  text-transform: uppercase;
}
.more-work-button:hover {
  background-color: black;
}
.full-team-image {
  position: absolute;
  right: 116px;
  bottom: 0px;
  height: 430px;
  float: right;
}
.intro-team-block {
  width: 600px;
}
.some-button {
  width: 25px;
  height: 25px;
  margin-right: 3px;
  padding-top: 1px;
  padding-right: 6px;
  padding-left: 6px;
  background-color: #4ac2a4;
  transition: background-color 500ms ease;
}
.some-button:hover {
  background-color: #3b3e47;
}
.footer-title {
  margin-top: 0px;
  margin-bottom: 5px;
  font-family:'PT Sans', sans-serif;
  color: #f5f000;
  font-size: 18px;
}
.footer-icon {
  width: 60px;
  margin-right: 20px;
  margin-bottom: 13px;
  padding: 5px;
  float: left;
  opacity: 0.15;
}
.footer-col {
  padding-left: 0px;
}
.link {
  color: #b8b8b8;
  text-decoration: none;
}
.link:hover {
  color: black;
}
.link.footer-link:hover {
  color: #4ac2a4;
}
.contact-map {
  height: 500px;
  background-color: #3b3e47;
}
.field {
  height: 70px;
  margin-bottom: 5px;
  padding-left: 23px;
  border: 0px solid black;
  font-family: Lato, sans-serif;
}
.field:hover {
  background-color: rgba(255, 255, 255, 0.70);
}
.field:focus {
  border-left-width: 7px;
  border-left-color: #4ac2a4;
}
.field.area {
  height: 180px;
  margin-bottom: 15px;
  padding-top: 23px;
}
.form-plans-wrapper {
  margin-bottom: 15px;
  padding: 30px;
  background-color: #3b3e47;
}
.radio-button-field {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 0px;
  color: #9e9e9e;
}
.radio-button-field:hover {
  color: white;
}
.radio-button-label {
  font-family:'PT Sans', sans-serif;
}
.form-title {
  display: inline-block;
  margin-right: 15px;
  font-family:'PT Sans', sans-serif;
  color: #4ac2a4;
  font-size: 15px;
  font-weight: 700;
}
.success-message-wrapper {
  padding-top: 15px;
  padding-left: 20px;
}
.error-bg {
  padding-top: 15px;
  padding-left: 20px;
}
.icon-wrapper-left {
  width: 70px;
  height: 70px;
  margin-right: 20px;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  float: left;
  border-radius: 2px;
  background-color: #95d4f3;
}
.icon-wrapper-left.green {
  background-color: #95d4f3;
}
.intro-aquario {
  margin-bottom: 36px;
}
.imagem-conteudo {
  display: block;
}
.destaque-b {
  color: #3b3e47;
}
.destaque-a {
  color: #3b3e47;
}
.contato {
  color: #3b3e47;
}
.aquario-servicos {
  margin-bottom: 49px;
  padding-right: 34px;
  padding-left: 34px;
  color: #3b3e47;
  font-size: 19px;
}
.arvo {
  margin-top: 30px;
  color: white;
  font-size: 11px;
  text-align: center;
  text-decoration: none;
}
.fachada {
  margin-top: 0px;
  margin-bottom: 45px;
}
.menu-centro {
  position: relative;
  left: 0px;
  top: 0px;
  margin-top: 20px;
  color: white;
  font-size: 12px;
  font-weight: 400;
}
.menu-centro:hover {
  color: #1fdaff;
}
.menu-centro-text {
  font-size: 12px;
}
.dropdown-text.w--open {
  background-color: #76bbe8;
  color: white;
  font-size: 12px;
}
.dropdown-text.w--open:active {
  color: white;
}
.container-menu {
  margin-right: auto;
  margin-left: auto;
  padding-right: 0px;
  padding-left: 0px;
}
.nav-menu-space {
  margin-right: 0px;
  margin-left: 0px;
}
.bg-menu {
  background-color: white;
  background-image: linear-gradient(to right, #25bbd9, #3968cc);
}
.dropdown-new {
  color: white;
}
.dropdown-new:hover {
  background-color: #25bbd9;
}
.dropdown-new.w--current:active {
  color: white;
}
.dropdown-hover {
  margin-bottom: 0px;
  padding-bottom: 15px;
}
.dropdown-hover:hover {
  background-color: transparent;
}
html.w-mod-js *[data-ix="dropdown-list"] {
  height: 0px;
}
html.w-mod-js *[data-ix="slider-element"] {
  opacity: 0;
  -webkit-transform: translate(0px, -30px);
  -ms-transform: translate(0px, -30px);
  transform: translate(0px, -30px);
}
html.w-mod-js *[data-ix="slider-element-2"] {
  opacity: 0;
  -webkit-transform: translate(0px, 30px);
  -ms-transform: translate(0px, 30px);
  transform: translate(0px, 30px);
}
html.w-mod-js *[data-ix="slider-element-3"] {
  opacity: 0;
  -webkit-transform: translate(0px, 30px);
  -ms-transform: translate(0px, 30px);
  transform: translate(0px, 30px);
}
html.w-mod-js *[data-ix="slider-element-4"] {
  opacity: 0;
  -webkit-transform: translate(-100px, 0px);
  -ms-transform: translate(-100px, 0px);
  transform: translate(-100px, 0px);
}
html.w-mod-js *[data-ix="scroll-icon"] {
  opacity: 0;
  -webkit-transform: translate(0px, -10px);
  -ms-transform: translate(0px, -10px);
  transform: translate(0px, -10px);
}
html.w-mod-js *[data-ix="display-none-lightbox-overlay"] {
  opacity: 0;
}
html.w-mod-js *[data-ix="lightbox-text"] {
  opacity: 0;
  -webkit-transform: translate(0px, 20px);
  -ms-transform: translate(0px, 20px);
  transform: translate(0px, 20px);
}
html.w-mod-js *[data-ix="move-header-button"] {
  opacity: 0;
  -webkit-transform: translate(0px, 20px);
  -ms-transform: translate(0px, 20px);
  transform: translate(0px, 20px);
}
html.w-mod-js *[data-ix="initial-appearance-work-button"] {
  opacity: 0;
  -webkit-transform: translate(0px, 10px);
  -ms-transform: translate(0px, 10px);
  transform: translate(0px, 10px);
}
html.w-mod-js *[data-ix="display-none-some-block"] {
  opacity: 0;
  -webkit-transform: translate(20px, 0px);
  -ms-transform: translate(20px, 0px);
  transform: translate(20px, 0px);
}
html.w-mod-js *[data-ix="page-title"] {
  opacity: 0;
  -webkit-transform: translate(0px, -10px);
  -ms-transform: translate(0px, -10px);
  transform: translate(0px, -10px);
}
html.w-mod-js *[data-ix="page-title-2"] {
  opacity: 0;
  -webkit-transform: translate(0px, 10px);
  -ms-transform: translate(0px, 10px);
  transform: translate(0px, 10px);
}
html.w-mod-js *[data-ix="page-title-3"] {
  opacity: 0;
  -webkit-transform: translate(0px, 10px);
  -ms-transform: translate(0px, 10px);
  transform: translate(0px, 10px);
}
html.w-mod-js *[data-ix="percentage-82"] {
  width: 0%;
}
html.w-mod-js *[data-ix="percentage-66"] {
  width: 0%;
}
html.w-mod-js *[data-ix="percentage-93"] {
  width: 0%;
}
html.w-mod-js *[data-ix="fade-in-on-scroll"] {
  opacity: 0;
  -webkit-transform: translate(0px, -10px);
  -ms-transform: translate(0px, -10px);
  transform: translate(0px, -10px);
}
@media (max-width: 991px) {
  body {
    padding-left: 0px;
  }
  h2 {
    margin-bottom: 2px;
    font-size: 27px;
    line-height: 27px;
  }
  h4 {
    margin-top: 7px;
    margin-bottom: 9px;
    font-size: 17px;
    line-height: 17px;
  }
  p {
    font-size: 12px;
    line-height: 18px;
  }
  .button {
    margin-top: 7px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 11px;
  }
  .button.cta-button {
    margin-top: 12px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 12px;
  }
  .navbar {
    width: 200px;
    background-image: url('../images/menu.png');
  }
  .logo-container {
    width: 100%;
  }
  .logo-container.w--current {
    width: 200px;
  }
  .nav-link {
    padding-right: 40px;
  }
  .slider {
    height: 500px;
  }
  .slide-container {
    padding-right: 190px;
    padding-left: 70px;
  }
  .slide-title {
    margin-bottom: 15px;
    font-size: 36px;
    line-height: 33px;
  }
  .slide-title._2 {
    font-size: 22px;
    line-height: 21px;
  }
  .slide-title.top-title {
    margin-bottom: 15px;
    padding: 0px 10px;
    font-size: 12px;
    text-shadow: none;
  }
  .page-content {
    padding: 40px;
  }
  .image-section {
    padding: 50px 40px;
    background-image: linear-gradient(to right, #382200 29%, rgba(224, 224, 224, 0)), url('../images/terrarioabc.png');
  }
  .page-header {
    height: 250px;
  }
  .page-header-overlay {
    padding-top: 90px;
    padding-left: 40px;
  }
  .page-header-title {
    font-size: 25px;
    line-height: 29px;
  }
  .page-header-title.description {
    font-size: 35px;
  }
  .navbar-some-wrapper {
    width: 100%;
  }
  .team-member-block {
    margin-bottom: 30px;
    padding-right: 0px;
  }
  .team-member-title.white {
    font-size: 28px;
  }
  .team-member-title.quote {
    font-size: 20px;
    line-height: 21px;
  }
  .percentage-title {
    margin-bottom: 7px;
    font-size: 13px;
  }
  .section-descripton {
    font-size: 16px;
  }
  .image-section-content-block {
    width: auto;
  }
  .overall-list {
    margin-top: 30px;
  }
  .overall-list-item {
    padding-bottom: 10px;
  }
  .icon-wrapper {
    margin-bottom: 12px;
  }
  .footer {
    padding: 40px 30px 0px;
  }
  .lightbox-overlay {
    padding-top: 31%;
  }
  .lightbox-title {
    font-size: 17px;
    line-height: 15px;
  }
  .intro-column {
    padding-right: 0px;
    padding-left: 0px;
  }
  .cta-section {
    padding: 13px 30px 20px;
  }
  .dropdown-toggle.w--open {
    padding-right: 40px;
  }
  .dropdown-link {
    padding-right: 40px;
    font-size: 10px;
  }
  .dropdown-link.w--current {
    font-size: 10px;
  }
  .cta-description {
    font-size: 18px;
  }
  .pricing-title {
    font-size: 24px;
  }
  .pricing-title.plan-name {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 10px;
    line-height: 15px;
  }
  .slider-arrow {
    width: 55px;
  }
  .lightbox-category {
    padding-top: 5px;
    padding-bottom: 4px;
    font-size: 11px;
  }
  .header-image {
    right: -40px;
    display: none;
    width: 400px;
  }
  .header-image.team {
    right: -40px;
    display: none;
  }
  .intro-link-block {
    padding: 10px;
  }
  .team-member-intro {
    padding: 40px 190px 40px 30px;
    background-position: 0% 0%, -10px 25%;
  }
  .more-work-section {
    padding: 30px 30px 5px;
  }
  .section-title.white {
    font-size: 28px;
  }
  .more-work-button {
    margin-top: 83px;
  }
  .full-team-image {
    right: 0px;
    height: 250px;
  }
  .intro-team-block {
    width: auto;
  }
  .footer-title {
    display: block;
    margin-bottom: 13px;
  }
  .footer-icon {
    display: block;
    width: 30px;
    margin: 0px auto 15px;
    padding: 0px;
    float: none;
  }
  .footer-col {
    padding-right: 0px;
    text-align: center;
  }
  .contact-map {
    height: 250px;
  }
  .form-title {
    display: block;
  }
  .icon-wrapper-left {
    display: block;
    margin-right: auto;
    margin-bottom: 15px;
    margin-left: auto;
    float: none;
  }
  .overall-column {
    padding-bottom: 10px;
    padding-left: 0px;
    text-align: center;
  }
  .overall-column.last {
    padding-bottom: 0px;
  }
  .destaque-b {
    font-size: 15px;
  }
  .aquario-servicos {
    margin-bottom: 27px;
    font-size: 18px;
  }
  .menu-centro.w--open {
    padding-bottom: 21px;
  }
  .menu-mobile-centro {
    margin-top: 20px;
  }
  .menu-mobile-centro.w--open {
    background-color: #25bbd9;
  }
  .menu-mobile-centro.w--open:hover {
    background-color: #4ac2a4;
  }
  .menu-mobile-centro.w--open:active {
    background-color: #4ac2a4;
  }
  .nav-menu-space {
    margin-bottom: auto;
    padding-bottom: 0px;
    background-color: #4a6ac2;
  }
}
@media (max-width: 767px) {
  body {
    padding-left: 0px;
  }
  .navbar {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: auto;
    width: 100%;
    height: 60px;
  }
  .logo-container {
    width: auto;
    height: 60px;
    padding-top: 10px;
    padding-left: 40px;
  }
  .logo-container.w--current {
    height: 60px;
    padding-top: 10px;
    text-align: left;
  }
  .nav-link {
    background-color: #3b3e47;
    color: white;
    text-align: left;
  }
  .nav-link.w--current {
    background-color: #25bbd9;
  }
  .slider {
    height: 450px;
  }
  .slide-container {
    padding-right: 180px;
  }
  .slide-title.top-title {
    text-shadow: none;
  }
  .page-content {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .image-section {
    background-image: linear-gradient(to right, #382200 30%, #382200 100%, rgba(148, 138, 123, 0.72) 100%, rgba(224, 224, 224, 0.49)), url('../images/Foto-3.jpg');
  }
  .page-header {
    height: 175px;
  }
  .page-header._404 {
    height: 400px;
  }
  .page-header-overlay {
    padding-top: 95px;
    padding-right: 40px;
  }
  .page-header-overlay._404-page {
    padding-top: 150px;
  }
  .page-header-title {
    font-size: 25px;
    line-height: 25px;
  }
  .page-header-title.description {
    font-size: 34px;
  }
  .logo {
    display: block;
    height: auto;
    font-family:'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
  }
  .navbar-some-wrapper {
    position: static;
    right: 20px;
    bottom: 17px;
    display: inline-block;
    width: auto;
    margin-top: 15px;
    float: left;
    text-align: right;
  }
  .section-descripton.white {
    margin-bottom: 15px;
  }
  .lightbox-overlay {
    padding-top: 34%;
  }
  .lightbox-title {
    margin-bottom: 7px;
    font-size: 20px;
  }
  .cta-section {
    text-align: center;
  }
  .dropdown-toggle {
    background-color: #3b3e47;
    color: white;
    text-align: left;
  }
  .dropdown-link {
    text-align: left;
  }
  .pricing-block {
    margin-bottom: 15px;
  }
  .lightbox-category {
    font-size: 12px;
  }
  .header-image {
    display: none;
  }
  .more-work-section {
    padding-bottom: 30px;
    text-align: center;
  }
  .more-work-button {
    margin-top: 0px;
    float: none;
  }
  .footer-col {
    padding-bottom: 10px;
  }
  .menu-button {
    background-color: transparent;
  }
  .menu-button:hover {
    background-color: #d9dadb;
  }
  .menu-button.w--open {
    background-color: #25bbd9;
  }
  .menu-button.w--open:hover {
    background-color: #4ac2a4;
  }
  .more-work-col {
    padding-left: 0px;
  }
  .menu-mobile-centro.w--open {
    background-color: #25bbd9;
  }
  .menu-mobile-centro.w--open:hover {
    background-color: #4ac2a4;
  }
}
@media (max-width: 479px) {
  h4 {
    margin-top: 0px;
    font-size: 16px;
  }
  .button {
    margin-top: 2px;
  }
  .button.cta-button {
    margin-top: 5px;
  }
  .logo-container {
    width: 130px;
    padding-left: 20px;
  }
  .logo-container.w--current {
    width: 130px;
  }
  .nav-link.w--current {
    background-color: #3b3e47;
  }
  .nav-link.w--current:hover {
    color: white;
  }
  .nav-link.w--current:focus {
    color: #25bbd9;
  }
  .slider {
    height: 400px;
  }
  .slide-container {
    padding-right: 70px;
    padding-left: 50px;
  }
  .slide-title {
    font-size: 25px;
    line-height: 22px;
  }
  .slide-title._2 {
    font-size: 16px;
    line-height: 17px;
  }
  .slide-title.top-title {
    text-shadow: none;
  }
  .page-content {
    padding: 20px 15px;
  }
  .image-section {
    background-image: linear-gradient(to right, #382200 100%, rgba(224, 224, 224, 0.8)), url('../images/terrarioabc.png');
  }
  .page-header-overlay {
    padding-right: 20px;
    padding-left: 20px;
  }
  .page-header-title {
    font-size: 20px;
  }
  .page-header-title.description {
    font-size: 24px;
  }
  .navbar-some-wrapper {
    margin-top: 17px;
  }
  .some-block {
    width: 25px;
    height: 25px;
    margin-right: 2px;
    padding-top: 2px;
    padding-right: 5px;
    padding-left: 5px;
  }
  .team-member-block {
    margin-bottom: 20px;
    padding-right: 0px;
    padding-bottom: 20px;
    text-align: center;
  }
  .team-member-image {
    position: static;
    display: block;
    width: 80%;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
    float: none;
  }
  .team-member-title {
    margin-bottom: 2px;
    font-size: 23px;
    line-height: 21px;
    text-align: left;
  }
  .team-member-title._2 {
    font-size: 18px;
  }
  .team-member-title.white {
    margin-bottom: 5px;
    line-height: 23px;
  }
  .team-member-title.quote {
    margin-bottom: 5px;
    font-size: 19px;
    line-height: 18px;
  }
  .team-member-text {
    text-align: left;
  }
  .section-descripton {
    margin-bottom: 20px;
  }
  .overall-list {
    margin-top: 15px;
  }
  .icon-wrapper.list {
    margin-bottom: 25px;
  }
  .footer {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .lightbox-overlay {
    padding-top: 33%;
  }
  .lightbox-title {
    margin-bottom: 7px;
    font-size: 32px;
    line-height: 25px;
  }
  .cta-description {
    font-size: 19px;
    line-height: 21px;
  }
  .pricing-column {
    padding-right: 0px;
    padding-left: 0px;
  }
  .slider-arrow {
    width: 40px;
  }
  .header-image {
    top: -28px;
    right: -98px;
    display: none;
  }
  .header-image.team {
    display: none;
  }
  .intro-link-block {
    width: 75%;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .team-member-intro {
    padding-right: 115px;
    background-image: linear-gradient(85deg, #4ac2a4, #4ac2a4 40%, #4ac2a4);
    background-position: 0% 0%;
    background-size: auto;
    background-repeat: no-repeat;
  }
  .section-title.white {
    line-height: 35px;
  }
  .contact-map {
    height: 200px;
  }
  .radio-button-field {
    display: block;
    margin-bottom: 3px;
  }
  .icon-wrapper-left {
    margin-right: 13px;
    margin-bottom: 5px;
    float: left;
  }
  .overall-column {
    text-align: left;
  }
  .destaque-a {
    font-size: 10px;
    text-align: center;
  }
  .aquario-servicos {
    padding-right: 18px;
    padding-left: 18px;
    font-size: 14px;
  }
  .menu-centro {
    margin-top: 20px;
  }
  .menu-mobile-centro.w--open {
    background-color: #25bbd9;
  }
  .nav-menu-space {
    min-width: 200px;
    margin-bottom: auto;
    padding-bottom: 0px;
  }
}

